<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.jhm69.battle_of_quiz">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_logo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup"
        tools:targetApi="m">
        <activity android:name="com.quantum_guys.dncc_eco_sync.ui.activities.account.EditProfile" />
        <activity android:name="com.quantum_guys.dncc_eco_sync.ui.activities.quiz.SelectTopic" />
        <activity
            android:name="com.quantum_guys.dncc_eco_sync.ui.activities.quiz.SubTopic"
            android:noHistory="true" />
        <activity android:name="com.quantum_guys.dncc_eco_sync.ui.activities.post.SinglePostView" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />





        <activity
            android:name="com.quantum_guys.dncc_eco_sync.ui.activities.post.CommentsActivity"
            android:exported="true"
            android:windowSoftInputMode="stateHidden">
            <intent-filter android:label="View Post in App">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tarok.tech"
                    android:pathPrefix="/post"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name="com.quantum_guys.dncc_eco_sync.ui.activities.quiz.ResultActivity" />
        <activity android:name="com.quantum_guys.dncc_eco_sync.ui.activities.post.WhoLikedActivity" />
        <activity android:name="com.quantum_guys.dncc_eco_sync.ui.activities.post.PostText" />
        <activity android:name="com.quantum_guys.dncc_eco_sync.messege.activity.MessageActivity" />
        <activity android:name="com.quantum_guys.dncc_eco_sync.ui.activities.post.PostImage" />
        <activity
            android:name="com.quantum_guys.dncc_eco_sync.ui.activities.quiz.QuizBattle"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="org.jhm69.battle_of_quiz.TARGET_PLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.quantum_guys.dncc_eco_sync.ui.activities.Splash"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.quantum_guys.dncc_eco_sync.ui.activities.MainActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait">

        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1812307912459750~8721341741" />
        <!--  ca-app-pub-1812307912459750~8721341741-->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_logo_icon" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccentt" />

        <activity
            android:name="com.quantum_guys.dncc_eco_sync.ui.activities.account.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.quantum_guys.dncc_eco_sync.ui.activities.account.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.quantum_guys.dncc_eco_sync.ui.activities.notification.ImagePreviewSave"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quantum_guys.dncc_eco_sync.ui.activities.friends.SearchUsersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.quantum_guys.dncc_eco_sync.ui.activities.friends.FriendProfile"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter android:label="View User Profile">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="tarok.tech"
                    android:pathPrefix="/user"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />

        <service
            android:name="com.quantum_guys.dncc_eco_sync.service.UploadService"
            android:enabled="true"
            android:exported="false"
            android:permission="TODO" />
        <service
            android:name="com.quantum_guys.dncc_eco_sync.notification.MyFireBaseMessagingService"
            android:enabled="true"
            android:exported="false"
            android:permission="TODO">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.quantum_guys.dncc_eco_sync.notification.MyFirebaseIdService"
            android:enabled="true"
            android:exported="false"
            android:permission="TODO">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>

