@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  *::-webkit-scrollbar {
    @apply w-1 h-4;
  }

  *::-webkit-scrollbar-track {
    @apply bg-gray-100 rounded-full;
  }

  *::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full border border-gray-400;
  }

  *::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-400;
  }
}


@layer utilities {
  .btn-follow-theme {
    @apply text-gray-700  hover:text-white dark:border-white/70 dark:text-white/70 dark:hover:bg-dark-background;
  }
  .smooth-effect {
    @apply transition-all duration-300;
  }
  .relative-x-center {
    @apply left-1/2 -translate-x-1/2;
  }
  .absolute-center {
    @apply flex items-center justify-center;
  }
  .relative-center {
    @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .full-size {
    @apply h-full w-full;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
 

*:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  @apply rounded-2xl bg-gray-400;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

#nprogress .bar {
  background: #facc15 !important;
  z-index: 1500 !important;
}

#nprogress .spinner-icon {
  border-top-color: yellow !important;
  border-left-color: yellow !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px red, 0 0 5px red !important;
}


.language-switch {
  display: flex;
  border-radius: 6px;
  overflow: hidden;
  margin-right: 10px;
  width: 110px;
  cursor: pointer;
}

.language-option {
  flex: 1;
  text-align: center;
  padding: 5px;
  transition: background-color 0.3s ease;
}

.en {
  background-color: #76C75E;
  color: white;
}

.bn {
  background-color: white;
  color: black;
}

/* This will change the background color of the Bengali side when it's active */
.active-bn .bn {
  background-color: #76C75E;
  color: white;
}

.active-bn .en {
  background-color: white;
  color: black;
}
.sticky-sidebar {
  position: sticky;
  top: 0;
}


.marker-container {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.marker-icon {
  height: 24px; /* Adjust based on your preference */
  width: 24px;
  background-color: #76C75E;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* Adds a little shadow for depth */
}

.info-box {
  position: absolute;
  bottom: 30px; /* Adjust based on your marker size */
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  white-space: nowrap; /* Keeps the text on one line */
  display: flex;
  align-items: center;
  justify-content: center;
}
